.build-recipe {
  border-radius: 4px;
  padding: 16px;
  width: 50%;
  flex-basis: ;

  h4 {
    margin-top: 0;
    padding-top: 0;
  }

  dl {
    font-size: 14px;
    margin: 16px 0;
  }
}

.discover-text {
  position: relative;
  > span {
    @apply font-hand;
    position: absolute;
    display: none;
    white-space: nowrap;
    right: 72px;
    top: 32px;
    color: var(--red);
    font-size: 20px;
  }
  &:hover {
    > span {
      display: block;
    }
  }
}
