.build-recipe {
  @apply font-mono;
  border-radius: 4px;
  padding: 16px;
  width: 50%;
  flex-basis: ;

  h4 {
    margin-top: 0;
    padding-top: 0;
  }

  dl {
    font-size: 14px;
    margin: 16px 0;
    border-top: 1px solid var(--midground);
  }

  dd {
    border-bottom: 1px solid var(--midground);
    padding-block: 4px;
  }
}

.discover-text {
  position: relative;
  > span {
    @apply font-hand;
    position: absolute;
    display: none;
    white-space: nowrap;
    right: 72px;
    top: 32px;
    color: var(--red);
    font-size: 20px;
  }
  &:hover {
    > span {
      display: block;
    }
  }
}

.included-box {
  display: flex;
  gap: 16px;
  margin-top: 32px;

  svg {
    margin-top: 8px;
  }
}
