.special-flower {
  position: absolute;
  top: -40px;
  left: 192px;
  width: auto;
  white-space: nowrap;
  svg {
    position: absolute;
    right: -12px;
    bottom: 0;
    width: 40px;
  }

  @media (max-width: 514px) {
    left: 00px;
  }
}
