.main-cta {
  height: 75vh;
  min-height: 450px;
  background: url("/app/images/home/home.svg") bottom right -20px no-repeat,
    url("/app/images/home/ground.svg") bottom left / 50% no-repeat,
    url("/app/images/home/backRocks.svg") bottom -25px right 180px no-repeat;
}

.second-cta {
  height: 75vh;
  background-color: var(--yellow);
}
