body {
  @apply font-mono;
  @apply p-4;
}

input,
textarea {
  @apply rounded;
  padding: 8px !important;
  background: white;
  border: 1px solid #baa9c0;
  outline: none;
  @media (prefers-color-scheme: dark) {
    background: var(--purple);
  }
}

.autocomplete {
  position: relative;
  .options {
    border-color: #baa9c0;
    background: white;
    @media (prefers-color-scheme: dark) {
      background: var(--purple);
    }
  }
  .option {
    border-radius: 4px;
    background: white;
    @media (prefers-color-scheme: dark) {
      background: var(--purple);
    }
    &.highlight {
      background: var(--yellow);
      @media (prefers-color-scheme: dark) {
        background: var(--dark-farground);
      }
    }
  }
}

.mdid {
  font-size: 22px;
}

.notions {
  @apply flex;
  @apply flex-row;
  @apply font-mono;
  @apply gap-4;
  @apply mt-4;

  @media (max-width: 640px) {
    flex-direction: column;
  }
}

/* Dare you open it? */
.notions-box {
  @apply p-4;
  border-radius: 4px;
  background-color: #f9fefa;
  border: 1px solid #184e25;
  display: inline-flex;
  @media (prefers-color-scheme: dark) {
    background-color: #1a241c;
    border: 1px solid #84b690;
  }
}

.md-content {
  @apply flex;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin-top: 24px;
  }
  p {
    margin-bottom: 24px;
  }
  a {
    color: var(--green);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.mdmdmdmdmdmdmdmd {
  max-width: 560px;
}

.annotations {
  display: flex;
  flex-direction: column;
  gap: 5%;
  max-width: 320px;
  @apply font-hand;
  color: var(--red);
  @media (prefers-color-scheme: dark) {
    color: var(--red-light);
  }
}

.annoiting {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
