@media screen and (max-width: 640px) {
  .path-page {
    padding-bottom: 500px;
  }
  .path-hour-glass {
    left: -100px !important;
    margin-bottom: 500px;
    .cacti-six {
      bottom: 0 !important;
      left: 190px !important;
      transform: rotate(15deg) !important;
    }
  }
  .uncooked-markdown {
    margin-left: 50px;
  }
}

.annotation {
  @apply font-hand;
  @apply text-lg;
  line-height: 20px;
  position: absolute;
  color: var(--red);
  display: flex;
  justify-content: start;
  right: -200px;
  margin-top: -24px;
  width: 248px;
  padding-right: 8px;

  .annot-container {
    display: flex;
    gap: 8px;
    @media screen and (max-width: 1060px) {
      max-width: 70%;
    }
    @media screen and (max-width: 640px) {
      max-width: 90%;
    }
  }

  svg {
    flex-shrink: 0;
    @media screen and (max-width: 640px) {
      transform: rotate(-25deg);
      margin-top: 16px;
      margin-bottom: 4px;
    }
  }

  .svg-primary {
    stroke: var(--red);
    @media (prefers-color-scheme: dark) {
      stroke: var(--red-light);
    }
  }

  @media (prefers-color-scheme: dark) {
    color: var(--red-light);
  }
  @media screen and (max-width: 1060px) {
    position: relative;
    margin: 0;
    right: unset;
    width: unset;
    justify-content: end;
  }
}

.annotation-left {
  @apply font-hand;
  @apply text-lg;
  line-height: 20px;
  position: absolute;
  color: var(--red);
  display: flex;
  justify-content: end;
  left: -200px;
  margin-top: -4px;
  width: 248px;
  padding-left: 8px;
  z-index: 10;

  .annot-container {
    display: flex;
    gap: 8px;
    flex-direction: row-reverse;
    @media screen and (max-width: 1060px) {
      max-width: 70%;
      flex-direction: row;
    }
    @media screen and (max-width: 640px) {
      max-width: 90%;
    }
  }

  svg {
    transform: scale(-1, 1);
    flex-shrink: 0;
    @media screen and (max-width: 1060px) {
      transform: unset;
    }
    @media screen and (max-width: 640px) {
      transform: rotate(-25deg);
      margin-top: 16px;
      margin-bottom: 4px;
    }
  }

  .svg-primary {
    stroke: var(--red);
    @media (prefers-color-scheme: dark) {
      stroke: var(--red-light);
    }
  }

  @media (prefers-color-scheme: dark) {
    color: var(--red-light);
  }
  @media screen and (max-width: 1060px) {
    position: relative;
    margin: 0;
    left: unset;
    width: unset;
    justify-content: start;
  }
}

.path-page {
  position: relative;
  @apply container;
  @apply mx-auto;
  @apply max-w-screen-sm;
  @apply font-mono;
}

.path-hour-glass {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: -50px;
  left: -150px;
  z-index: 1;
  .sand {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 100px;
    width: 5px;
    background-image: radial-gradient(
      ellipse at 2px 50%,
      var(--foreground) 40%,
      transparent 40%
    );
    background-size: 10px 32px;
    background-repeat: space;
    @media (prefers-color-scheme: dark) {
      background-image: radial-gradient(
        ellipse at 2px 50%,
        var(--dark-foreground) 40%,
        transparent 40%
      );
    }
  }
  .graphic-bottom {
    position: absolute;
    bottom: 0;
  }
  .cacti-six {
    height: 69px;
    width: 55px;
    left: 5px;
    bottom: 4px;
    position: absolute;
    transform: rotate(-15deg);
  }
  .svg-primary {
    fill: var(--foreground);
    @media (prefers-color-scheme: dark) {
      fill: var(--dark-foreground);
    }
  }
  .svg-secondary {
    fill: var(--midground);
    @media (prefers-color-scheme: dark) {
      fill: var(--dark-midground);
    }
  }

  .svg-text-primary {
    fill: var(--red);
    @media (prefers-color-scheme: dark) {
      fill: var(--red-light);
    }
  }
  .svg-text-secondary {
    fill: var(--purple);
    @media (prefers-color-scheme: dark) {
      fill: white;
    }
  }
}

.cacti-one,
.cacti-two,
.cacti-three,
.cacti-four,
.cacti-five,
.cacti-six {
  position: absolute;
  bottom: 8px;
  .svg-primary {
    fill: var(--foreground);
    @media (prefers-color-scheme: dark) {
      fill: var(--dark-foreground);
    }
  }
}

.cacti-one-heading {
  position: relative;
  .cacti-one {
    left: -42px;
  }
}
.cacti-two-heading {
  position: relative;
  .cacti-two {
    left: -47px;
  }
}
.cacti-three-heading {
  position: relative;
  .cacti-three {
    left: -47px;
  }
}
.cacti-four-heading {
  position: relative;
  .cacti-four {
    left: -72px;
  }
}
.cacti-five-heading {
  position: relative;
  .cacti-five {
    left: -78px;
  }
}
.cacti-six-heading {
  position: relative;
  .cacti-six {
    left: -78px;
  }
}

.faq {
  a {
    color: var(--purple);
    &:hover {
      color: var(--green);
      text-decoration: underline;
    }
    @media (prefers-color-scheme: dark) {
      color: white;
      &:hover {
        color: var(--green-light);
        text-decoration: underline;
      }
    }
  }
}

.right-arrow .svg-primary,
.back-arrow .svg-primary {
  stroke: var(--green);
  @media (prefers-color-scheme: dark) {
    stroke: var(--green-light);
  }
}

.nopal-business-cycle {
  .svg-text-mono {
    @apply font-mono;
    fill: var(--purple);
    font-size: 20px;
    @media (prefers-color-scheme: dark) {
      fill: white;
    }
  }
  .svg-text-hand {
    @apply font-hand;
    fill: var(--red);
    font-size: 22px;
    @media (prefers-color-scheme: dark) {
      fill: var(--red-light);
    }
  }
  .svg-arrow {
    stroke: var(--red);
    @media (prefers-color-scheme: dark) {
      stroke: var(--red-light);
    }
  }
}

.cost-chart {
  .svg-text-primary {
    fill: var(--purple);
    @media (prefers-color-scheme: dark) {
      fill: white;
    }
  }
}
