.uncooked-markdown {
  h1,
  h2,
  h3 {
    @apply font-bold;
    @apply pt-6;
    @apply pb-6;
  }

  h4,
  h5,
  h6 {
    @apply font-bold;
    @apply pt-6;
  }
  p {
    @apply pb-4;
  }
  b,
  strong {
    @apply font-bold;
  }
  i,
  em {
    @apply italic;
  }
  a {
    color: var(--green);
    &:hover {
      text-decoration: underline;
    }
    @media (prefers-color-scheme: dark) {
      color: var(--green-light);
    }
  }
  del {
    color: var(--red);
    @media (prefers-color-scheme: dark) {
      color: var(--red-light);
    }
  }
  .uncooked-thought,
  .uncooked-added-thought {
    margin-top: 16px;
    position: relative;
    display: inline-block;
    color: var(--red);
    @media (prefers-color-scheme: dark) {
      color: var(--red-light);
    }
    span {
      @apply font-hand;
      position: absolute;
      top: -16px;
      left: 0;
      text-decoration: default;
      white-space: nowrap;
    }
  }
  .uncooked-added-thought {
    position: relative;
    top: 12px;
    left: -5px;
    width: 0px;
    span {
      top: -28px;
      transform: translateX(-20%);
    }
  }
  ul {
    li {
      &:before {
        content: "- ";
        text-indent: 0px;
      }
    }
  }
}

/* Print Styles */
.print img,
.view-master-reel img {
  @apply aspect-square;
  object-fit: cover;
}
