:root {
  --purple: #3f2b46;
  --yellow: #fff9f1;
}

body {
  background-color: white;
  color: var(--purple);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--purple);
    color: white;
  }
}

.btn {
  @apply rounded-lg;
  display: inline-flex;
}
.btn-primary {
  @apply btn;
  background-color: var(--purple);
  padding: 16px 32px;
  color: white;
}
