:root {
  /* TODO: At some point create a more offical color spread, e.g. purple-100 to purple-900 */
  --purple: #3f2b46;
  --purple-light: #7f5b8b;
  --yellow: #ffeaa4;
  --yellow-light: #fcf0c4;
  --green: #5da06d;
  --green-light: #86cb97;
  --red: #a63b31;
  --red-light: #f6c8c3;

  --farground: #fff9f1;
  --midground: #ede4da;
  --foreground: #e5d6c5;

  --dark-farground: #494a72;
  --dark-midground: #6d6e99;
  --dark-foreground: #8d8eb4;
}

body {
  background-color: white;
  color: var(--purple);
  min-height: 100vh;
  @media (prefers-color-scheme: dark) {
    background-color: var(--purple);
    color: white;
  }
}

/* Simple Container */
.simple-container {
  @apply container;
  @apply mx-auto;
  @apply max-w-screen-sm;
  @apply font-mono;
  position: relative;
  z-index: 2;
}

/* Link */
.link {
  color: var(--green);
  &:hover {
    text-decoration: underline;
  }
  @media (prefers-color-scheme: dark) {
    color: var(--green-light);
  }
}

/* Buttons */
.btn {
  @apply rounded-lg;
  display: inline-flex;
}
.btn-primary {
  @apply btn;
  background-color: var(--btn-color, var(--purple));
  padding: 16px 32px;
  color: white;
  @media (prefers-color-scheme: dark) {
    background-color: white;
    color: var(--btn-color, var(--purple));
  }
}

.btn-secondary {
  @apply btn;
  background-color: var(--btn-color, var(--green));
  padding: 8px 16px;
  color: white;
}

/* Header */
.header {
  .sun {
    width: 20%;
    min-width: 80px;
    max-width: 142px;
  }
  .moon {
    width: 20%;
    min-width: 30px;
    max-width: 62px;
    margin-left: 25px;
    margin-bottom: 25px;
    @media (min-width: 640px) {
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 40px;
    }
  }

  @media (max-width: 639px) {
    h1 img {
      max-width: 80%;
    }
    .sun,
    .moon {
      width: 5%;
      position: absolute;
      top: 4px;
      left: 124px;
    }
    nav {
      margin-right: 0px;
    }
  }
}

.main-nav a.main-nav-item {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    right: 0.5rem;
    height: 4px;
    background-color: transparent;
    border-radius: 2px;
  }
  &:hover:after {
    background-color: var(--purple-light);
  }
  &.active:after {
    background-color: var(--green);
  }
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  padding: 8px;
  z-index: 1;
  border-radius: 4px;
  &:hover,
  &:focus {
    background-color: var(--farground);
    @media (prefers-color-scheme: dark) {
      background-color: var(--dark-midground);
    }
  }
}
.menu-bars {
  @apply ml-2;
}
.menu-bars > div {
  width: 24px;
  height: 3px;
  background-color: var(--purple);
  margin: 4px 0;
  @media (prefers-color-scheme: dark) {
    background-color: var(--farground);
  }
}

@media (max-width: 440px) {
  .hamburger-menu {
    display: flex;
  }
  .main-nav {
    display: none;
    position: absolute;
    top: 64px;
    right: 16px;
    min-width: 50%;
    background: white;
    border: 1px solid var(--foreground);
    z-index: 3;
    border-radius: 4px;
    @media (prefers-color-scheme: dark) {
      background-color: var(--dark-midground);
      border: 1px solid var(--dark-farground);
    }
  }
  .main-nav a.main-nav-item {
    display: block;
    text-align: right;
    &:after {
      left: 0px;
      bottom: 8px;
      top: 8px;
      right: unset;
      width: 4px;
      height: auto;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
  .good-menu {
    width: 100%;
  }
}

/* Good Menu */
.good-menu {
  display: inline-block;
  .main-nav-item {
    cursor: pointer;
  }

  ul {
    flex-wrap: wrap;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid var(--foreground);
    background: white;
    padding: 16px;
    display: inline-flex;
    gap: 16px;
    @media (prefers-color-scheme: dark) {
      border-color: var(--dark-foreground);
      background: var(--purple);
    }
  }
  li a {
    width: 212px;
    height: 212px;
    border: 1px solid var(--foreground);
    background: var(--farground);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 16px 0;
    @media (prefers-color-scheme: dark) {
      border-color: var(--dark-foreground);
      background: var(--dark-farground);
    }

    .title {
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      white-space: nowrap;
    }
    .desc {
      margin-top: 8px;
      display: inline-block;
      font-size: 14px;
      color: var(--purple-light);
      line-height: 20px;
      @media (prefers-color-scheme: dark) {
        color: white;
      }
    }

    .good-arrow {
      display: inline-flex;
      width: 100%;
      justify-content: flex-end;
      padding-right: 16px;
    }

    &:hover {
      border-color: var(--purple-light);
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
      .good-arrow svg path {
        stroke: var(--green);
      }
    }
    @media (prefers-color-scheme: dark) {
      .good-arrow svg path {
        stroke: white;
      }
    }
  }
}
.good-menu-container {
  position: absolute;
  top: 88px;
  left: 0;
  width: 100%;
  display: none;
  justify-content: center;

  > svg {
    position: absolute;
    left: calc(50% - 136px);
    top: -32px;
    z-index: 4;
    @media (prefers-color-scheme: dark) {
      path {
        stroke: white;
      }
    }
  }

  @media (max-width: 744px) {
    ul {
      width: min-content;
    }
    > svg {
      left: calc(50% - 112px);
    }
  }
  @media (max-width: 639px) {
    top: 80px;
    justify-content: flex-end;
    padding-right: 16px;
    ul {
      flex-direction: column;
      align-items: center;
    }
    > svg {
      left: calc(100% - 240px);
    }
  }
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
