.uncooked-container {
  @apply container;
  @apply mx-auto;
  @apply max-w-screen-sm;
  @apply font-mono;
  position: relative;
  z-index: 2;
}

.uncooked-link {
  color: var(--green);
  &:hover {
    text-decoration: underline;
  }
  @media (prefers-color-scheme: dark) {
    color: var(--green-light);
  }
}

.uncooked-markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
    @apply pt-6;
    @apply pb-6;
  }
  p {
    @apply pb-4;
  }
  b,
  strong {
    @apply font-bold;
  }
  i,
  em {
    @apply italic;
  }
  a {
    color: var(--green);
    &:hover {
      text-decoration: underline;
    }
    @media (prefers-color-scheme: dark) {
      color: var(--green-light);
    }
  }
}

/* Print Styles */
.uncooked-print img {
  @apply aspect-square;
  object-fit: cover;
}
