DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=
RESEND_API_KEY=
ENCRYPTION_SECRET=
SESSION_SECRET=# 64 bit hex
NOTION_TOKEN=
NOTION_WEBHOOK_SECRET=
DISCORD_BOT_TOKEN=your-bot-token-here
DISCORD_CHANNEL_ID=your-channel-id

WS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME=
